################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ch14-memento/src
/ch15-iterator/src
/ch16-observer/src/test/C#
/ch18-mediator/Mediator
/ch19-command/src
